services:
  webapp:
    image: bkeenke/webapp:latest
    container_name: webapp
    restart: unless-stopped
    networks:
      - caddy
    environment:
      - NODE_ENV=production

networks:
  caddy:
    external: true
