.tabBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding-left: var(--tg-safe-area-inset-left);
  padding-right: var(--tg-safe-area-inset-right);
  padding-bottom: var(--screen-padding-bottom);
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
}

.tabBarContainer {
  display: flex;
  color: var(--hint-color);
  position: relative;
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  backdrop-filter: blur(15px) saturate(1.8) brightness(1.3);
  -webkit-backdrop-filter: blur(15px) saturate(1.8) brightness(1.3);
  padding: 4px;
  border-radius: 9999px;
  width: fit-content;
}

.tabBarContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(21, 21, 21, 0.85), rgba(21, 21, 21, 0.75) 50%, rgba(30, 30, 30, 0.8));
  z-index: 0;
  pointer-events: none;
  border-radius: 9999px;
  opacity: 0.5;
}

.tabBarItem {
  flex: 1;
  padding: 5px 5px 2px;
  border-radius: 9999px;
  min-height: 54px;
  min-width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #fff;
  user-select: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
}

.tabBarItem + .tabBarItem {
  margin-left: -10px;
}

.tabBarItem.active {
  position: relative;
}

.tabBarItem.active::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  filter: saturate(3) brightness(300%);
  background: hsla(0, 0%, 100%, 0.1);
}

.icon {
  position: relative;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  z-index: 1;
}
